@{
    ViewBag.Title = "Home Page";
}
<div class="page-header-home header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('~/Content/img/bg2.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto" style="margin-top:100px">
                <div class="brand">
                    <h1>Worldpay.</h1>
                    <h3>Recidenal Calculator.</h3>
                </div>
            </div>
        </div>
    </div>
</div>